# Modo (no cargar dotenv en production)
NODE_ENV=development

# Servidor
PORT=3000
WEBHOOK_URL=https://tu-dominio.com
SECRET=tu_secreto_webhook

# Telegram
TG_TOKEN=xxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Turso
TURSO_DATABASE_URL=xxxxx-turso.a.run.app
TURSO_AUTH_TOKEN=tu_token_de_turso

# Gemini LLM
GEMINI_API_KEY=tu_api_key_de_gemini
